* {margin: 0; padding: 0;}

[data-hook=board] {
    height: 400px;
    width: 400px;
    float: left;
}

[data-hook="board-nav"] {
    width: 30px;
    float: left;
}

[data-hook="board-nav"] li {
    list-style-type: none;
}

[data-hook="board-nav"] li a {
    padding: 5px;
    border: 1px solid #000;
    display: block;
    width: 20px;
    height: 20px;
}

[data-hook="board-nav"] li a[disabled] {
    cursor: default;
    color: gray;
    text-decoration: none;
    opacity: 0.5;
}

[data-hook=status], [data-hook=ascii], [data-hook=pgn], [data-hook=fen] {
    float: right;
    width: 400px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
}